<html>
    <head>
        <meta charset="utf-8">
        <title>about!</title>
    </head>
    <body>
        <h1>ABOUT</h1>
    <p>
    If you want to achieve something new then you have to do something new!
    </p>
    <p>Hello there ! Thankyou for visiting my website.I am fullstack pythoneer.Presently I am persuing my B.tech in computer science from Manav Rachna International University.I have not all experience of working in any corporates. So you can say me a Learner.
    </p>
    <p>I am programmer, learner, and a developer in process.</p>
    <a href="/">Naweel Anwer</a>
    </body>
</html>