{% load staticfiles %}
<html>
    <head>

        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <meta charset="utf-8">
        <title>Naweel</title>
    </head>
    <body>
        <div>
          &nbsp;&nbsp;&nbsp;&nbsp;<br><br> <br><br> <br><br> <br><br> <br><br> <br><br>  <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Naweel Anwer</a></h1>
        </div>

        <div>

            <h2>Programmer Developer Learner</h2>
         </div>

        <div>
           <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about/"target="_blank">About</a>
               &nbsp;&nbsp;&nbsp;&nbsp;<a href="/blog/"target="_blank">Blog</a></h4>
            <h3>You can follow me in.</h3>
            <h4><a href="https://github.com/naweel1496"target="_blank">GitHub</a>
           &nbsp;&nbsp; <a href="https://www.linkedin.com/in/naweel1496/"target="_blank">LinkedIn</a>
           &nbsp;&nbsp; <a href="https://www.facebook.com/nabeel.A1496"target="_blank">Facebook</a>
         </div>
    </body>
</html>
