<html>
    <head>
        <title>Naweel</title>
    </head>
    <body>
        <div>
            <h1><a href="">Naweel Anwer</a></h1>
        </div>

        <div>

            <h2>Programmer  Pythonista</h2>
         </div>

        <div>

            <h3>You can follow me in.</h3>
            <h4><a href="https://github.com/naweel1496">GitHub</a></h4>
            <h4><a href="https://www.linkedin.com/in/naweel1496/">LinkedIn</a></h4>
            <h4><a href="https://www.facebook.com/nabeel.A1496">Facebook</a></h4>
         </div>
    </body>
</html>
