h1 a {
    color: #F2F6F7;
    font-family: 'Lobster';
}
h4 a {
    color: #F2F6F7;

}

body {
    padding-left: 450px;
}
body {
    background: white url("website-background-green-x-resolution-481604.jpg") no-repeat right bottom;
}